html, body {
    height: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box
}

body {
    font-family: "Lato", sans-serif;
}

/*
button {
    border-radius: 25px;
}
*/

.sideTab {
    overflow-y: auto;
    overflow-y: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 10%; 
    top: 2%;
    height: 97%;
    border-radius: 25px;
    position: fixed;
    padding: 10px;
}

.tab {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sideTab button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: normal;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
    border: 2px solid rgba(158, 158, 158, 0.1);
    border-radius: 25px;
    box-sizing: border-box;
    margin-bottom: 10px;
    
    text-align: center;
}

.sideTab button:hover {
    background-color: #ddd;
}

.sideTab button.active {
    background-color: #ccc;
}

.tabcontent {
    position: relative;
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}

.sideTab .loginBtn {
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(158, 158, 158, 0.2);
}

.sideTab .loginBtn:hover {
    background-color: rgba(158, 158, 158, 0.5);
}

.messageContainer {
    position: fixed;
    bottom: 5px;
    /* left: 178px; */
    margin-left: 11%;
    width: calc(89% - 20px);
    display: flex;
    align-items: center;
    gap: 10px;
}

  
.messageInput {
    flex: 1;
    height: 50px;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    padding-left: 15px;
    font-size: 15px;
    box-sizing: border-box;
}
  
.sendBtn {
    background-color: #c5c5c5;
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.sendBtn:hover {
    background-color: #b9b9b9;
}


.messageBox {
    position: absolute;
    top: 2%;
    width: calc(89% - 15px);
    border: 2px solid lightgray;
    border-radius: 20px;
    margin-left: 11%;
    max-height: calc(100% - 70px);
    height: calc(100% - 80px);
    overflow-y: auto;
    padding: 16px;
    box-sizing: border-box;
    scrollbar-width: none;
}


/*
.messageBox::-webkit-scrollbar {
    max-height: calc(100% - 10px);
}
*/

.blurBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.3);
    z-index: 998;
    visibility: hidden;
}

.loginPopup {
    z-index: 999;
    border: 2px solid black;
    border-radius: 20px;
    width: 300px;
    height: 250px;
    background-color: rgba(141, 141, 141, 0.716);
    left: calc(50% - 125px);
    top: calc(50% - 150px);
    visibility: hidden;
    position: fixed;
    transition: 0.3s;
}

.userInput {
    position: absolute;
    width: 200px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    left: calc(50% - 100px);
    top: calc(30% - 25px);
    font-size: 20px;
    text-align: center;
}

.saveBtn {
    position: absolute;
    font-size: 20px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    top: calc(80% - 20px);
    left: calc(50% - 40px);
}

.saveBtn:hover {
    background-color: rgb(224, 224, 224);
    box-shadow: 0px 5px 10px rgb(132, 132, 132);
}

.loginRDBtn {
    width: 140px;
    height: 50px;
    font-size: 30px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 70px);
    background-color: lightgray;
}

.loginRDBtn:hover {
    transition: 0.3s;
    background-color: rgba(141, 141, 141, 0.716);
}



#profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;       /* Vertikal centering */
    justify-content: flex-end; /* Allt till höger i containern */
    position: absolute;
    top: 8x;
    right: -7px;
    margin: 20px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(240, 240, 240);
    width: auto;               /* Anpassar sig efter innehållet */
}

#profile-container #profile-picture {
    border-radius: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin-right: 10px;        /* Avstånd mellan bild och namn */
    /* object-fit: cover; */         /* Beskär bilden snyggt */
}

#profile-container #displayName {
    margin: 0;                 /* Ta bort onödiga marginals */
    font-size: 1em;
}


.server-notifications {
    z-index: 9999 !important;
    display: flex;            /* Make it a flex container */
    flex-direction: row;      /* Keep items in a row */
    align-items: center;      /* Vertically center text and button */
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    border: 2px solid rgb(186, 183, 8);
    border-radius: 15px;
    padding: 25px 50px;       /* Adjust padding for spacing */
    background-color: rgb(255, 252, 157);
    top: 5%;
    gap: 10px;                /* Space between text and button */
    padding-right: 65px;
}

.notification-message p {
    margin: 0px 0;            /* Space between paragraphs */
}
.notification-message {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items: left;
    gap: -20px;
    padding: -20px;
}

.notification-cross {
    background: none;
    border: none;
    font-size: 20px;
    position: absolute;
    top: calc(100% - 50px);
    right: 4%;
    cursor: pointer;
}

.notification-cross:hover {
    /* font-size: 20px; */
    font-weight: bolder;
}



@media (max-width: 900px) {
    .sideTab {
        width: 30px;
        padding: 5px;
        left: -20px;
    }

    .sideTab button {
        display: none;
    }

    
    .messageBox {
        margin-left: 15px;
        width: calc(100% - 30px);
    }

    .messageContainer {
        margin-left: 15px;
        width: calc(100% - 30px);
    }
}